= link_to("Back", school_url(@school))

%p= link_to "Rate teacher", new_teacher_rating_path(@teacher, @rating), class: "btn btn-default"

= @teacher.ratings.each do |rating|
  %p
    Clarity
    .star-rating{"data-score" => rating.clarity}
  %p
    Helpfulness
    .star-rating{"data-score" => rating.helpfulness}
  %p
    Easiness
    .star-rating{"data-score" => rating.easiness}
  %p
    Comment:
    \#{rating.comment}
  %hr/

:javascript
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
