.text-center
  / No search results announcement/notification
  - if @schools.blank?
    %h2 Xin lỗi, hệ thống chúng tôi không có thông tin về trường học mà bạn muốn tìm.
  - else
    - @schools.each do |school|
      = link_to school.name, school_path(school)
      - if user_signed_in?
        -if current_user.email == "domanhtien2011@gmail.com"
          = link_to 'Edit', edit_school_path(school)
          = link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }
      %br/


