.text-center
  %p
    Xin chào #{@email}!
  %p Bạn có thể xác nhận tài khoản email của bạn bằng cách bấm vào đường link bên dưới:
  %p= link_to 'Xác Nhận Tài Khoản Của Tôi', confirmation_url(@resource, confirmation_token: @token)
