.text-center
  %p
    Xin Chào #{@resource.email}!
  %p Chúng tôi liên hệ với bạn để thông báo cho bạn biết rằng mật khẩu của bạn vừa được thay đổi. Nếu người thay đổi mật khẩu không phải là bạn thì vui lòng liên hệ ngay với chúng tôi.

