.text-center
  %p
    Xin chào #{@resource.email}!
  %p Một người nào đó đã yêu cầu thay đổi mật khẩu của bạn. Bạn có thể thay đổi mật khẩu bằng cách bấm vào đường link bên dưới:
  %p= link_to 'Đổi Mật Khẩu Của Tôi', edit_password_url(@resource, reset_password_token: @token)
  %p Nếu bạn không yêu cầu thay đổi mật khẩu, vui lòng bỏ qua email này.
  %p Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn bấm vào đường link ở trên và làm theo hướng dẫn để tạo một mật khẩu mới.
