%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#"} Navbar
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} Link
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled

    = form_tag(welcome_search_path, method: :get, class: 'form-inline my-2 my-lg-0') do
      = text_field_tag 'search', params[:search], placeholder: 'Nhap ten truong hoac ten cua thay co...', class: 'form-control mr-sm-2'
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

